Repository catalystneuro/neuroconv, pull requests merged in 2023-12, with the labels that each got.

#633 Add `LightningPoseDataInterface` and `LightningPoseConverter`
  CHANGELOG.md
  docs/api/interfaces.behavior.rst
  docs/conversion_examples_gallery/behavior/lightningpose.rst
  docs/conversion_examples_gallery/conversion_example_gallery.rst
  docs/index.rst
  src/neuroconv/converters/__init__.py
  src/neuroconv/datainterfaces/__init__.py
  src/neuroconv/datainterfaces/behavior/lightningpose/__init__.py
  src/neuroconv/datainterfaces/behavior/lightningpose/lightningposeconverter.py
  src/neuroconv/datainterfaces/behavior/lightningpose/lightningposedatainterface.py
  src/neuroconv/datainterfaces/behavior/lightningpose/requirements.txt
  tests/test_on_data/test_behavior_interfaces.py
  tests/test_on_data/test_format_converters/test_lightningpose_converter.py
Labels: data interfaces

#686 Fix sorting tests
  src/neuroconv/tools/testing/data_interface_mixins.py
Labels: testing

#688 Fix `SpikeGLXConverterPipe` writing to electrodes table
  CHANGELOG.md
  src/neuroconv/datainterfaces/ecephys/spikeglx/spikeglxconverter.py
  src/neuroconv/tools/spikeinterface/spikeinterface.py
  tests/test_on_data/test_format_converters/test_spikeglx_converter.py
Labels: bug

#693 Fix sorting tests
  src/neuroconv/tools/testing/data_interface_mixins.py
Labels: testing

#689 #688 roundtrip test with Spikeinterface
  tests/test_on_data/test_format_converters/test_spikeglx_converter.py
Labels: testing

#679 Fix path expander II
  CHANGELOG.md
  src/neuroconv/tools/path_expansion.py
  tests/test_minimal/test_tools/test_expand_paths.py
Labels: bug
