Repository catalystneuro/neuroconv, pull requests merged in 2023-11, with the labels that each got.

#625 Merge behavior tests
  tests/test_on_data/test_behavior_interfaces.py
  tests/test_on_data/test_gin_behavior.py
Labels: testing

#622 Add `SegmentationImages` to Ophys metadata schema
  CHANGELOG.md
  src/neuroconv/datainterfaces/ophys/basesegmentationextractorinterface.py
  src/neuroconv/schemas/metadata_schema.json
  src/neuroconv/tools/roiextractors/roiextractors.py
  tests/test_ophys/test_tools_roiextractors.py
Labels: enhancement, metadata

#632 Change `Fluorescence`/`DFOverF` metadata schema for RoiResponseSeries from `array` type to `object`
  CHANGELOG.md
  src/neuroconv/datainterfaces/ophys/basesegmentationextractorinterface.py
  src/neuroconv/schemas/metadata_schema.json
  src/neuroconv/tools/roiextractors/roiextractors.py
  tests/test_ophys/test_tools_roiextractors.py
Labels: metadata

#646 Small improvement to import test
  tests/imports.py
Labels: testing

#652 Add note to testing suite instructions
  docs/developer_guide/testing_suite.rst
Labels: documentation, testing

#653 Improve testing name change
  .github/workflows/dev-testing.yml
  .github/workflows/doctests.yml
  .github/workflows/formatwise-installation-testing.yml
  .github/workflows/live-service-testing.yml
  .github/workflows/testing.yml
  CHANGELOG.md
  requirements-testing.txt
  src/neuroconv/datainterfaces/ecephys/requirements.txt
Labels: testing
