Repository catalystneuro/neuroconv, pull requests merged in 2023-06, with the labels that each got.

#466 Align recording extractor properties between Neuroscope raw and LFP
  CHANGELOG.md
  src/neuroconv/datainterfaces/ecephys/neuroscope/neuroscopedatainterface.py
Labels: data interfaces

#485 Add docstrings for filtering out non-neural channel functions in Neuroscope Interface
  CHANGELOG.md
  src/neuroconv/datainterfaces/ecephys/neuroscope/neuroscope_utils.py
  src/neuroconv/datainterfaces/ecephys/neuroscope/neuroscopedatainterface.py
Labels: documentation, refactor

#362 [Sync VIIIa] Documentation of temporal alignment
  CHANGELOG.md
  docs/api/basedatainterface.rst
  docs/api/interfaces.ecephys.rst
  docs/api/tools.rst
  docs/api/tools.signal_processing.rst
  docs/user_guide/temporal_alignment.rst
  docs/user_guide/user_guide.rst
  src/neuroconv/nwbconverter.py
  tests/test_on_data/test_temporal_alignment/test_temporal_alignment_methods.py
Labels: documentation

#492 Add `CellExplorerRecordingInterface`
  .github/workflows/dev-testing.yml
  .github/workflows/formatwise-installation-testing.yml
  .github/workflows/testing.yml
  CHANGELOG.md
  src/neuroconv/datainterfaces/__init__.py
  src/neuroconv/datainterfaces/ecephys/cellexplorer/cellexplorerdatainterface.py
  src/neuroconv/datainterfaces/ecephys/cellexplorer/requirements.txt
  src/neuroconv/tools/testing/data_interface_mixins.py
  tests/test_on_data/test_recording_interfaces.py
Labels: enhancement, data interfaces

#494 Add ecephys metadata to CellExplorerSorting
  CHANGELOG.md
  src/neuroconv/datainterfaces/ecephys/basesortingextractorinterface.py
  src/neuroconv/datainterfaces/ecephys/cellexplorer/cellexplorerdatainterface.py
  src/neuroconv/datainterfaces/ecephys/cellexplorer/requirements.txt
  tests/test_on_data/test_sorting_interfaces.py
Labels: data interfaces
