Repository catalystneuro/neuroconv, pull requests merged in 2025-01, with the labels that each got.

#1168 Remove source validation from converters and interfaces
  CHANGELOG.md
  docs/conversion_examples_gallery/behavior/lightningpose.rst
  docs/conversion_examples_gallery/recording/spikeglx.rst
  src/neuroconv/basedatainterface.py
  src/neuroconv/nwbconverter.py
Labels: metadata

#1177 SpikeGLX: Add inter-sample shift description and fix ElectrodeGroup naming
  CHANGELOG.md
  src/neuroconv/datainterfaces/ecephys/spikeglx/spikeglx_utils.py
  src/neuroconv/datainterfaces/ecephys/spikeglx/spikeglxdatainterface.py
  tests/test_on_data/ecephys/spikeglx_multi_probe_metadata.json
  tests/test_on_data/ecephys/spikeglx_single_probe_metadata.json
  tests/test_on_data/ecephys/test_recording_interfaces.py
  tests/test_on_data/ecephys/test_spikeglx_converter.py
  tests/test_on_data/ecephys/test_spikeglx_metadata.py
Labels: data interfaces, metadata, ecehys

#1157 Improve error message on `get_json_schema_from_method_signature` when passing parameters without type hints
  CHANGELOG.md
  src/neuroconv/datainterfaces/ecephys/basesortingextractorinterface.py
  src/neuroconv/utils/json_schema.py
  tests/test_minimal/test_utils/test_get_json_schema_from_method_signature.py
Labels: bug, schema

#1176 updated ndx-events to 0.2.1
  pyproject.toml
Labels: dependencies

#1128 Use `ndx-pose>=0.2` for `DeepLabCutInterface` and `LightningPoseDataInterface`
  .github/workflows/testing.yml
  CHANGELOG.md
  docs/conversion_examples_gallery/conftest.py
  pyproject.toml
  src/neuroconv/basedatainterface.py
  src/neuroconv/datainterfaces/behavior/deeplabcut/_dlc_utils.py
  src/neuroconv/datainterfaces/behavior/deeplabcut/deeplabcutdatainterface.py
  src/neuroconv/datainterfaces/behavior/lightningpose/lightningposedatainterface.py
  src/neuroconv/datainterfaces/behavior/sleap/sleapdatainterface.py
  tests/test_on_data/behavior/test_behavior_interfaces.py
  tests/test_on_data/behavior/test_lightningpose_converter.py
  tests/test_on_data/behavior/test_pose_estimation_interfaces.py
Labels: enhancement, dependencies, behavior

#1189 Update edf version
  pyproject.toml
Labels: dependencies
